<div id="post-share">
  <a class="author" href="{{ site.baseurl }}">
    <img class="avatar" src="{{ site.baseurl }}assets/images/avatar.jpg"/>
    <span class="name">{{ site.author }}</span>
  </a>
  <div class="share-twitter">
    <a href="https://twitter.com/share" class="twitter-share-button" data-size="large" data-text="Check out this awesome blog post" data-via="dark_wing0711" data-show-count="false">Tweet</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
  <div style="float: none"></div>
</div>
