/* Reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}
*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* Clearfix */
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}
.hidden { display: none; }

/* Icons */
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@font-face {
	font-family: 'icons';
		src: url('../fonts/icons.eot');
		src: url('../fonts/icons.eot#iefix') format('embedded-opentype'),
		url('../fonts/icons.woff') format('woff'),
		url('../fonts/icons.ttf') format('truetype'),
		url('../fonts/icons.svg#icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
	font-family: "icons";
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	line-height: 1em;
}
.icon-facebook:before { content: '\e802'; }
.icon-facebook-squared:before { content: '\e800'; }
.icon-twitter:before { content: '\e801'; }
.icon-twitter-1:before { content: '\e804'; }
.icon-facebook-circled:before { content: '\e805'; }
.icon-twitter-circled:before { content: '\e806'; }
.icon-facebook-rect:before { content: '\e803'; }

/* Spacing */
.post h1, h3, h4, h5, p, .post-body ul, #post-list li, pre {
margin-bottom: 20px;
}

html, body { height: 100%; }

body {
	font:1.3em/1 "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #666;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

/* ============================== */
/* Typography
/* ============================== */

a,
#title,
#post-list a:hover,
#post-list li:hover .dates,
#title:hover {
	text-decoration: none;
	color: #ff7c0b;
}

p a { color: #ff7c0b; }

/*Transitions*/
a,
#post-nav a,
#post-list a	{
	-webkit-transition: all 0.15s ease;
	-moz-transition: all 0.15s ease;
	-ms-transition: all 0.15s ease;
	-o-transition: all 0.15s ease;
	transition: all 0.15s ease;
}

ul 	{ margin:0; padding:0; }
li	{ list-style-type:circle; list-style-position:inside; }

b, strong { font-weight: 500;
  color: #1E2025; }
em, i { font-style: italic; }

h1 {
	font-size: 30px;
	letter-spacing: -1px;
	color: #222;
}

h2 {
	font: italic 19px/1.3em Georgia,serif;
	color: #bbb;
}


h3, h4, h5 { color:#333; }

h3 { font-size:20px; font-weight: 400; }
h4 { font-size:16px; font-weight:bold; }
h5 { font-size:15px; font-weight: bold; }

h6 {
	font-size: 13px;
	font-weight: bold;
	color: #666;
	margin-bottom: 6px;
}

p.small {
	color: #bbb;
	font-size: 14px;
	line-height: 1.5;
	display: block;
}

blockquote {
	padding-left: 15px;
	border-left: 3px solid #eee;
}

hr {
	display: block;
	border: none;
	height: 1px;
	margin: 40px auto;
	background: #eee;
}

span.code { font-family:Menlo, Monaco, Courier; background-color:#EEE; font-size:14px; }

pre	{
	font-family:Menlo, Monaco, Courier;
	white-space:pre-wrap;
	/*border: 1px solid #ddd;*/
	padding:20px;
	background-color:#fdfdfd;
	/*font-size:14px;*/
	overflow:auto;
	border-radius: 3px;
	background: #272b2d;
	  font-family: 'Source Code Pro',Menlo,monospace;
	  font-size: 17px;
	  line-height: 1.5em;
	  font-weight: 500;
	color: #d0d4d7;

}

table {
	width: 100%;
	margin: 40px 0;
	border-collapse: collapse;
	font-size: 13px;
	line-height: 1.5em;
}

th,td {
	text-align: left;
	padding-right: 20px;
	vertical-align: top;
}

table td,td {
	border-spacing: none;
	border-style: solid;
	padding: 10px 15px;
	border-width: 1px 0 0 0;
}

tr>td {
	border-top: 1px solid #eaeaea;
}

tr:nth-child(odd)>td {
	background: #fcfcfc;
}

thead th,th {
	text-align: left;
	padding: 10px 15px;
	height: 20px;
	font-size: 13px;
	font-weight: bold;
	color: #444;
	border-bottom: 1px solid #dadadc;
	cursor: default;
	white-space: nowrap;
}

img {
	width: auto;
  height: auto;
	max-width: 100%;
	border-radius: 3px;
  display: block;
  margin: auto;
}

/* Made with Cactus Badge */
#badge {
	position: absolute;
	bottom: 8px;
	right: 8px;
	height: 48px;
	width: 48px;
}


/* ============================== */
/* Profile
/* ============================== */
.profile {
  background-image: url('../images/cover.jpg');
  background-size: cover;
  position: relative;
}

@media screen and (max-width: 1024px) {
  .profile {
    background-image: url('../images/cover_square.jpg');
  }
}

.profile #wrapper {
	padding: 100px 40px 0px;
	max-width: 1024px;
	margin: 0 auto;
  min-height: 500px;
  z-index: 1;
}

.profile #header {
	padding-bottom: 40px;
	text-align: center;
	position: relative;
}

.profile #avatar {
	display: inline-block;
	width: 160px;
	height: 160px;
	border-radius: 50%;
	margin-bottom: 20px;
  border: 4px #fff solid;
}

@media screen and (max-width: 540px) {
  .profile #avatar {
    width: 100px;
    height: 100px;
  }
}

.profile h1 {
	font-weight: 400;
	letter-spacing: 0px;
	font-size: 40px;
	color: #fff;
}

@media screen and (max-width: 540px) {
  .profile h1 {
    font-size: 25px !important;
  }
}

.profile h2 {
  font-size: 20px;
  font-weight: normal;
  color: #ccc;
  margin-top: 10px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: normal;
}

@media screen and (max-width: 540px) {
  .profile h2 {
    font-size: 17px;
  }
}

nav.main-nav {
	padding: 20px 20px 0;
	margin: 0 auto;
	text-align: right;
	z-index: 100;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
}

nav.main-nav a {
	top: 8px;
	right: 6px;
	padding: 8px 12px;
	font-size: 16px;
	/*font-weight: bold;*/
	line-height: 1.35;
	border-radius: 3px;
}

nav.main-nav.highlight a {
  color: #fafafa;
}
nav.main-nav a.cta {
	background: #ff7c0b;
	color: #fff;
	margin-left: 12px;
}

#wrapper {
  max-width: 1024px;
  margin: 0 auto;
  padding: 60px 40px 100px 40px;
}

/* ============================== */
/* Post list styles
/* ============================== */

#post-list h1 {
	font: normal 32px/1.4em "Helvetica Neue", Helvetica,Arial,sans-serif;
	color: #222;
}

#post-list h2 {
	font: normal 17px/1.5em "Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #aaa;
	max-width: 400px;
	margin-top: 2px;
}

#post-list li {
	list-style-type: none;
  padding-bottom: 20px;
	border-bottom: 1px solid #eee;
}

#post-list li:last-child {
	margin-bottom: 0;
}

#post-list li+li {
	padding-top: 20px;
}

#post-list a {
	color: #333;
	display: block;
	font: bold 19px/1.7 "Helvetica Neue",helvetica,Arial,sans-serif;
}

#post-list .dates {
	float: right;
	position: relative;
	top: 1px;
	font: 300 17px/1.8 "Helvetica Neue",helvetica,Arial,sans-serif;
	color: #555;
}

#post-list-footer {
	border-top: 1px solid #eee;
	margin-top: 20px;
	padding-top: 100px;
}

#footer {
	box-shadow: inset 0 1px 0 #eee;
	padding: 40px 0 0 0;
	margin-top: 100px;
}

#post-list.archive.readmore h3{

	  font: 400 20px "Helvetica Neue", Helvetica,Arial,sans-serif;
	  margin-bottom: 30px;
}

#post-list.archive.readmore a{
	font: 400 16px/1.6 "Helvetica Neue",helvetica,Arial,sans-serif;
	color: #ff7c0b;
}

#post-list.archive.readmore a:hover{
	opacity: 0.8;
}

#post-list.archive.readmore .dates{
	font: 300 16px/1.6 "Helvetica Neue",helvetica,Arial,sans-serif;
}


/* ============================== */
/* Post styles
/* ============================== */

.post {
	margin: 80px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.draft-badge {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: orange;
  color: #fff;
  padding: 7px 10px;
  border-radius: 5px;
  display: inline-block;
  font-size: 13px;
}

.post header {
  text-align: center;
  max-width: 800px;
  display: inline-block;
}

.post header h1 {
  text-align: center;
}

#post-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#post-body p {
  font-family: 'Playfair Display', serif;
  line-height: 1.5;
  font-size: 1.2em;
  color: #666;
  text-align: justify;
  max-width: 800px;
  width: 100%;
  display: inline-block;
}

#post-body p.full-image {
  width: auto;
  max-width: 100%;
}

@media screen and (max-width: 540px) {
  #post-body p {
    font-size: 1em;
    line-height: 1.25;
  }
}

#post-body h1 {
	margin-top: 20px;
	margin-bottom: 20px;
	color: #222;
	font: 400 35px/1.4em "Helvetica Neue", Helvetica,Arial,sans-serif;
  max-width: 800px;
  width: 100%;
  text-align: left;
}

@media screen and (max-width: 540px) {
  #post-body h1 {
    font-size: 30px;
  }
}

#post-body h2 {
	margin-top: 20px;
	margin-bottom: 20px;
	color: #222;
	font: 400 30px/1.4em "Helvetica Neue", Helvetica,Arial,sans-serif;
  max-width: 800px;
  width: 100%;
  text-align: left;
}

@media screen and (max-width: 540px) {
  #post-body h2 {
    font-size: 25px;
  }
}

#post-body h3 {
	margin-top: 20px;
	margin-bottom: 20px;
	color: #222;
	font: 400 25px/1.4em "Helvetica Neue", Helvetica,Arial,sans-serif;
  max-width: 800px;
  width: 100%;
  text-align: left;
}

@media screen and (max-width: 540px) {
  #post-body h3 {
    font-size: 20px;
  }
}

#post-body ul {
  font-family: 'Playfair Display', serif;
  line-height: 1.5;
  font-size: 1.2em;
  color: #666;
  text-align: justify;
  max-width: 800px;
  display: inline-block;
  width: 100%;
}

#post-body ul li {
  text-align: left;
  font-family: 'Playfair Display', serif;
}

.post #post-title {
  font-size: 50px;
  font-weight: normal;
  margin-bottom: 0px;
}

@media screen and (max-width: 540px) {
  .post #post-title {
    margin-top: 25px;
    font-size: 35px;
  }
}

/* ============================== */
/* Code highlighter
/* ============================== */
#post-body div.highlighter-rouge {
  margin-bottom: 15px;
  margin-top: 15px;
  display: block;
  max-width: 800px;
  width: 100%;
  text-align: left;
}

#post-body pre {
  margin-bottom: 15px;
  margin-top: 15px;
  display: block;
  max-width: 800px;
  text-align: left;
}

#post-body code.highlighter-rouge {
  display: inline-block;
  padding: 5px 7px;
  background-color: #eaeaea;
  border-radius: 5px;
	font: 0.7em/1 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.post #post-headline {
	/*font: italic 22px/1.3em Georgia,serif;*/
  margin-bottom: 40px;
  font-size: 1.1 em;
  display: inline-block;
}

@media screen and (max-width: 540px) {
  .post #post-headline {
    font-size: 0.9em;
  }
}

.post img {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Post Navigation */
#post-nav {
	border-top:1px solid #eee;
	text-align:center;
	padding-top:20px;
	font-size:13px;
	font-weight:500;
	margin-top: 40px;
}

#post-nav span {
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	-ms-transition: all 0.1s linear;
	-o-transition: all 0.1s linear;
	transition: all 0.1s linear;
	position: relative;
}

#post-nav span.prev {
	float: left;
}

#post-nav span.next {
	float: right;
}

#post-nav span .arrow {
	position: relative;
	padding: 1px;
}

#post-nav span.prev:hover .arrow {
	left: -4px;
}

#post-nav span.next:hover .arrow {
	right: -4px;
}

#post-nav span.prev:hover {
	left: -3px;
}

#post-nav span.next:hover {
	right: -3px;
}

#post-share {
  border-top: 1px #eaeaea solid;
  text-align: right;30px
  margin-top: 20px;

  padding-bottom: 10px;
  display: block;
  max-width: 800px;
  width: 100%;
}

#post-share .author {
  float: left;
  display: flex;
  align-items: center;
}

#post-share .author .avatar {
  border-radius: 100%;
  width: 32px;
  height: 32px;
  margin-right: 10px;
}

#post-share .author .name {
  font-size: 20px;
  font-weight: normal;
  color: #222;
}

#post-share .share-twitter {
  margin-top: 20px;
  display: inline-block;
  float: right;
}

#post-comment-seperator {
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
  max-width: 800px;
  width: 100%;
}

#post-comment-seperator .inner {
  width: 60%;
  display: inline-block;
  font-size: 1.1em;
  color: #777;
}

@media screen and (max-width: 540px) {
  #post-comment-seperator .inner {
    width: 100%;
    font-size: 1em;
  }
}

#post-comments {
  max-width: 800px;
  width: 100%;
}

/* Media Queries */
@media screen and (max-width: 540px) {
	#wrapper { padding:20px 20px 20px 20px;}
	#header { margin-bottom: 60px; }
	.post { margin: 40px 0; }
	#footer { margin-top: 60px; }

	#post-list, #archive-list { margin-top: 0; }
	#post-meta { margin-top: 60px; }

	#title { font-size: 17px; }
	#post-list .dates { display: none; }

	#post-list-footer { margin-top: 20px; padding-top: 40px; }

	h1 { font-size: 26px; }
	.post h2.headline { font-size: 13px; }
	.post h1 { font-size:24px; }
	.post h2 { font-size:20px; }
}

